---
import Analytics from "~/components/Analytics.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Analytics />
  </head>
  <body>
    <slot />
  </body>
</html>
